.cards-gap {
    padding-bottom: 100px;
}

.card {
    padding-bottom: 8px;
}


.btn:hover{
	background: white;
    color: black;
}

btn:hover:after,
btn:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgb(45, 98, 37);
	transition: all ease 0.5s;
}